<div class="knowledge-overview-container">
  <span class="gray-text">Knowledge Garden Overview</span>
  <div class="overview-grid">
    <app-simple-card *ngFor="let item of overviewItems" [icon]="item.icon" [label]="item.label" [value]="0">
    </app-simple-card>
  </div>

  <div style="background-color: aqua;width: 100%; height: 20%"></div>
  <!-- <mat-card class="cta-card">
    <div class="cta-content">
      <mat-icon class="cta-icon">library_books</mat-icon>
      <span class="cta-text">Manage Your Knowledge Garden</span>
      <mat-icon class="cta-arrow">chevron_right</mat-icon>
    </div>
  </mat-card> -->
</div>