.knowledge-overview-container {
  width: 100%;
  height: 100%;
  border: 2px solid var(--border-color);
  border-radius: var(--border-radius-md);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.gray-text {
  color: #737373;
  display: block;
  padding: 0.5rem 1rem;
  flex-shrink: 0;
}

// .overview-grid {
//   flex-grow: 1;
//   overflow: auto;
//   background-color: bisque;
// }

.overview-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(100px, 1fr)
  ); /* Responsive columns */
  grid-auto-rows: minmax(100px, auto); /* Minimum height of 100px for rows */
  gap: 16px; /* Space between cards */
}

app-simple-card {
  box-sizing: border-box;
}

.cta-card {
  margin:0 1rem;
  border: 1px solid var(--border-color);;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem; /* Reduced padding */
  border-radius: var(--border-radius-md);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--card-background-color);
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.3s ease;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }
}

.cta-content {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cta-icon {
  font-size: 1.25rem; /* Reduced icon size */
  color: var(--primary-color);
}

.cta-text {
  font-size: 0.875rem; /* Reduced text size */
  font-weight: 500;
  color: var(--text-color);
}

.cta-arrow {
  font-size: 1rem; /* Reduced arrow size */
  color: var(--secondary-color);
}

// .overview-card {
//   text-align: center;
//   padding: 20px 10px;
//   border-radius: 12px;
//   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
