.slogan-container {
  text-align: center;
  padding: 14px 0;
}

.slogan-container h2 {
  font-size: 24px;// Use CSS variable for flexibility
  margin-bottom: 10px;
}

.slogan-container ul {
  list-style-type: none;
  padding: 0;
}

.slogan-container li {
  font-size:18px; // Use CSS variable for flexibility
  margin: 5px 0;
}
