.slogan-container {
}

.slogan-container h2 {
  font-size: 24px;// Use CSS variable for flexibility
  margin-bottom: 5px;
}

.slogan-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.slogan-container li {
  font-size:18px; // Use CSS variable for flexibility
  // margin: 5px 0;
}
