@use '@angular/material' as mat;
@use './palettes' as palettes;

$myapp-theme: mat.m2-define-light-theme((
  color: (
    primary: palettes.$myapp-theme-primary,
    accent: palettes.$myapp-theme-accent,
    warn: palettes.$myapp-theme-warn,
  )
));

@include mat.all-component-themes($myapp-theme);
