.sidebar {
  width: 100%;
  height: 100%;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
mat-nav-list{
  width: 90%;
  margin: 0 auto; // Centers the element horizontally
}

.sidebar mat-list-item {
  border: 1px solid var(--border-color); // Add border to list items
  border-radius: 8px; // Match the border radius style
  padding: 0.5rem; // Add padding for better spacing
  margin: 0.5rem 0; // Add margin for better spacing
}

.sidebar a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
}

.sidebar a:hover {
  color: #007bff;
}
