@import "./app/styles/variables.scss";

// @import "."; // Adjust the relative path as needed

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.test1 {
  border-radius: $border-radius-lg;
}
