.forgot-form {
    width: 100%;
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  
    h2 {
      text-align: center;
    }
  
    .full-width {
      width: 100%;
    }
  
    .actions {
      text-align: center;
      font-size: 14px;
  
      a {
        color: #3f51b5;
        text-decoration: none;
      }
    }
  }
  