.dashboard-new-flow-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  margin: 0 auto; // Centers the container horizontally

}

.top-section {
  height: 15%;
}
.bottom-section {
  height: 30%;
  margin-bottom: 1rem;
}

.middle-section {
  flex: 1; // Takes up the remaining space
  margin: 2rem 0;
}
