.dashboard-new-flow-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  margin: 0 auto; // Centers the container horizontally

}

.top-section {
  height: 20%;
  margin-bottom: 1rem;
}
.bottom-section {
  height: 40%;
}

.middle-section {
  flex: 1; // Takes up the remaining space
}
